.body{
    display: flex;
    background-color:bisque;
    padding: 0;
    margin: 0;
    font-size: 15px;
}
.header{
    background-color:rosybrown;
}  
.name{
    margin-top: 40px;
    width: 200px;
}
.myphoto{
    margin-left: 500px;
}
.container {
    width: 1170px;
    margin: 0 auto;
  }